*.sqlite3

# VIRTUAL ENVIRONMENT STUFF
venv
env
backend/.env
.venv

# MAC OS FILE SYSTEM
.DS_Store

__pycache__/
*.pyc
*.log

## FRONTEND IGNORES

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
